{% extends 'restaurant/base.html' %}
{% block content %}
<main class="container my-5">
    <!-- Заголовок страницы -->
    <h2 class="text-center mb-4 fw-semibold text-dark">Наши услуги</h2>

    <!-- Услуга 1 -->
    <section class="mb-5">
        <div class="bg-white p-4 rounded shadow-sm border">
            <h3 class="text-center text-dark mb-3 fw-semibold">Обслуживание в зале</h3>
            <p class="text-muted fs-5">
                Мы предлагаем уютное обслуживание в зале с внимательным обслуживающим персоналом. В вашем распоряжении комфортная атмосфера и индивидуальный подход к каждому гостю.
            </p>
        </div>
    </section>

    <!-- Услуга 2 -->
    <section class="mb-5">
        <div class="bg-white p-4 rounded shadow-sm border">
            <h3 class="text-center text-dark mb-3 fw-semibold">Доставка блюд</h3>
            <p class="text-muted fs-5">
                Быстрая и надежная доставка блюд прямо к вашему порогу. Мы заботимся о сохранении свежести и температуры ваших заказов.
            </p>
        </div>
    </section>

    <!-- Услуга 3 -->
    <section class="mb-5">
        <div class="bg-white p-4 rounded shadow-sm border">
            <h3 class="text-center text-dark mb-3 fw-semibold">Организация мероприятий</h3>
            <p class="text-muted fs-5">
                Проведение банкетов, корпоративных мероприятий и свадеб. Поможем вам организовать незабываемый праздник с индивидуальным меню и подходом.
            </p>
        </div>
    </section>

</main>
{% endblock %}